/*
Author: Xevinaly
Version: 1.0.0
*/
body {
  padding: 0;
  margin: 0;
	background: #f8f9fa;
}
#header_wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: #39424e;
}
#fixed_sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
	margin-top: 60px;
  bottom: 0px;
  width: 25%;
	background-color: #f8f9fa;
  padding: 0;
  display: inline-block;
  height: 100%;
}
#alerts {
  width: 70%;
  height: 50%;
  margin: 0 auto;
  border-radius: 15px;
  /*box-shadow: 1px 1px 10px 1px rgba(68,68,68,1);*/
  border: 1px solid #c2c7d0;
  background-color: #ffffff;
  margin-top: 30px;
}
#alerts_list {
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
#alerts_header {
  font-size: 25px;
  border-radius: 15px 15px 0px 0px;
  background-color: #eff1f3;
  margin: 0 auto;
  height: 40px;
  margin-top: 15px;
}
#alerts_title {
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  color: #4691f6;
  width: 100%;
  background-color: #eff1f3;
}
#alert_item {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 30px;
  color: #7c8087;
  line-height: 25px;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 12px;
  border-bottom: #eee solid 1px;
}
#header_link_wrapper {
  width: 100%;
  display: inline-block;;
  height: 60px;
  padding: 0;
  margin: 0;
}
#header_image_link {
  height: 50px;
  width: 10%;
  padding: 0;
  margin: 0;
  float:left;
  display: inline-block;
  border-radius: 60px 60px 60px 60px;
}
#header_title {
  width: 80%;
  padding: 0;
  margin: 0;
  font-size: 50px;
  float: left;
  display: inline-block;
  text-align: center;
  height: 60px;
  color: #ffffff;
}
#wrapper {
  margin-top: 60px;
  margin-left: 25%;
  margin-right: 25%;
	background: #f8f9fa;
}
#main_content {
  position: fixed;
  top: 0px;
  left: 0px;
	margin-top: 60px;
  bottom: 0px;
  width: 50%;
	background-color: #f8f9fa;
  padding: 0;
  display: inline-block;
  height: 100%;
  padding-left: 25%;
}
#tag_search_header {
  font-size: 15px;
  margin-top: 30px;
  color: #c2c7d0;
  width: 100%;
}
#tag_search_bar {
  width: 96%;
  margin-top: 5px;
  height: 40px;
  margin-left: 2%;
  border: 0px solid #000000;
  background-color: #f8f8fa;
  font-size: 25px;
  color: #ada9a9;
}
#tag_search_bar:focus {
  outline: none;
}
#tag_search_bar_wrapper {
  width: 100%;
  height: 50px;
  border: 3px solid #c2c7d0;
  border-radius: 10px 10px 10px 10px;
}
#fluid_sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
	margin-top: 60px;
  bottom: 0px;
  width: 25%;
	background-color: #f8f9fa;
  padding: 0;
  display: inline-block;
  height: 100%;
  padding-left: 75%;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a:visited {
  color: #7c8087;
}
