/*
Author: Xevinaly
Version: 2.0.8
*/

/*
TestUI css
*/
#test_wrapper {
  margin: 0px;
  padding: 0px;
  margin-left: 220px;
}

#test_sidebar {
  position: fixed;
  width: 220px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #12ac8e;
}
#test_list_wrapper {
  width: 220px;
  height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0px;
  padding: 0px;
  background-color: #f8f9fa;
  margin-top: 15px;
}

#test_item {
  background-color: blue;
}

input {
  width: 700px;
  height: 100px;
  font-size: 40px;
}

button {
  width: 700px;
  height: 100px;
  font-size: 40px;
}

/*
Main css
*/
body {
  padding: 0em;
  margin: 0em;
  background-color: #f8f9fa;
}

/*
Mainlayout css
*/
#wrapper {
  padding: 0em;
  margin: 0em;
  background-color: #f8f9fa;
}

#fixed_header_element {
  position: fixed;
  z-index: 2;
  margin-left: 100%;
}

#absolute_sidebar {
  position: fixed;
  width: 13.75em;
  margin: 0px;
  padding: 0em;
  height: 100%;
  background-color: #12ac8e;
}

#content_wrapper {
  margin-left: 13.75em;
  background-color: #f8f9fa;
}

#header {
  height: 2.1em;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0.0625em solid #dde4e7;
  color: #889194;
  font-size: 1.5625em;
  line-height: 2.4375em;
}

#header a {
  color: #889194;
  text-decoration: none;
  position: relative;
  left: 1.875em;
  width: 100%;
  height: 100%;
  display: block;
}

#header a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0em;
  left: 0em;
  z-index: 1;
}

#sidebar_item a:visited {
  color: #889194;
}

#sidebar_item a:hover {
  color: #889194;
}

#main_content {
  padding: 0em;
  width: 100%;
  background-color: #f8f9fa;
  overflow: hidden;
  overflow-y: scroll;
}

/*
Sidebarlayout css
*/
#sidebar_header {
  padding: 0em;
  margin: 0em;
  height: 2.1em;
  width: 100%;
  background-color: #12ac8e;
  color: #ffffff;
  text-align: center;
  font-size: 1.5625em;
  line-height: 2.4375em;
  border-bottom: 0.0625em solid #0f9c81;
}

#sidebar_list {
  padding: 0em;
  margin: 0em;
  background-color: #12ac8e;
}

#sidebar_item {
  padding: 0.8125em 0px 0.625em 0em;
  margin: 0em;
  width: 11.875em;
  color: #077762;
  padding-left: 1.875em;
  border-bottom: 0.0625em solid #0f9c81;
  position: relative;
}

#sidebar_item_current {
  padding: 0.8125em 0px 0.625em 0em;
  padding-left: 1.875em;
  height: 1.25em;
  border-radius: 0em 12.5em 12.5em 0em;
  width: 100%;
  color: #ffffff;
  background-color: #077762;
}

#sidebar_item a span {
  position: absolute;
  width: 11.875em;
  padding-left: 1.875em;
  line-height: 2.8125em;
  height: 100%;
  top: 0em;
  left: 0em;
  z-index: 1;
}

#sidebar_item:hover {
  color: #ffffff;
  background-color: #0f9c81;
}

#sidebar_item a {
  color: #077762;
}

#sidebar_item a:visited {
  color: #077762;
}

#sidebar_item a:hover {
  color: #ffffff;
}

/*
FixedHeaderElementLayout css
*/
#element_wrapper {
  position: relative;
  right: 19em;
  background-color: #ffffff;
  width: 22em;
  height: 3.23em;
}

#element_wrapper div {
  width: 5em;
  height: 1.6em;
  border-radius: 12.5em 12.5em 12.5em 12.5em;
  margin-right: 1.2em;
  margin-top: 0.6em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#element_wrapper div p {
  position: relative;
  top: 0.125em
}

#log_in {
  color: #4a5351;
  border: 0.125em solid #4a5351;
}

#sign_up {
  color: #6dced0;
  border: 0.125em solid #6dced0;
}

#balance {
  color: #ffffff;
  width: 8em;
  background-color: #1cbda5;
  border: 0.125em solid #1cbda5;
  position:relative;
  bottom: 0.125em;
}

#balance_amount {
  position: relative;
  right: 0.6em;
  top: 0.125em;
}

#Ξ {
  color: #ffffff;
  position:relative;
  width: 1.6em;
  height: 1.6em;
  border: 0.125em solid #077762;
  right: 1em;
  border-radius: 12.5em 12.5em 12.5em 12.5em;
  background-color: #077762;
  display: absolute;
}

#fit_Ξ {
  position: relative;
  left: 0.5em;
  top: 0.33em;
}
