/*
Author: Xevinaly
Version: 1.0.0
*/

/*
Main css
*/
body {
  padding: 0;
  margin: 0;
	background: #f8f9fa;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:visited {
  color: #7c8087;
}

li {
  list-style: none;
}

#title {
  font-size: 15px;
  margin-top: 30px;
  color: #c2c7d0;
  width: 100%;
}

/*
Mainlayout css
*/
#header_wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  background-color: #39424e;
}

#fixed_sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
	margin-top: 40px;
  bottom: 0px;
  width: 25%;
	background-color: #f8f9fa;
  padding: 0;
  display: inline-block;
  height: 100%;
}

#fluid_sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
	margin-top: 40px;
  bottom: 0px;
  width: 25%;
	background-color: #f8f9fa;
  padding: 0;
  display: inline-block;
  height: 100%;
  padding-left: 75%;
}

#wrapper {
  margin-top: 40px;
  margin-left: 25%;
  margin-right: 25%;
	background: #f8f9fa;
}

#main_content {
  position: fixed;
  top: 0px;
  left: 0px;
	margin-top: 40px;
  bottom: 0px;
  width: 50%;
	background-color: #f8f9fa;
  padding: 0;
  display: inline-block;
  height: 100%;
  padding-left: 25%;
}

/*
Alerts css
*/
#alerts {
  width: 70%;
  height: 50%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 1px rgba(194,199,208,1);
  background-color: #ffffff;
  margin-top: 63px;
}

#alerts_list {
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

#alerts_header {
  font-size: 25px;
  border-radius: 15px 15px 0px 0px;
  background-color: #eff1f3;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-top: 15px;
}

#alerts_title {
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  color: #4691f6;
  width: 100%;
  background-color: #eff1f3;
}

#alert_item {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 30px;
  color: #7c8087;
  line-height: 25px;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 12px;
  border-bottom: #eee solid 1px;
}

/*
Header css
*/
#header_link_wrapper {
  width: 100%;
  display: table;
  height: 30px;
  padding-left: 5px;
  padding-top: 7px;
  margin: 0;
}

#header_item {
  list-style: none;
  text-align: left;
  height: 20px;
  width: 120px;
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/*
Tag css
*/

#tag_search_bar {
  width: 96%;
  margin-top: 5px;
  height: 40px;
  margin-left: 2%;
  border: 0px solid #000000;
  background-color: #f8f8fa;
  font-size: 25px;
  color: #ada9a9;
}

#tag_search_bar:focus {
  outline: none;
}

#tag_search_bar_wrapper {
  width: 100%;
  height: 50px;
  border: 3px solid #c2c7d0;
  border-radius: 10px 10px 10px 10px;
}

/*
Feed css
*/
#feed_wrapper {
  width: 70%;
  margin: 0 auto;
}

#feed_link_wrapper {
  margin: 0;
  padding: 0;
}

#feed_link {
  list-style: none;
  margin: 7px 0px 7px 0px;
  padding: 0;
}

#feed_item {
  font-size: 25px;
  margin-top: 30px;
  color: #c2c7d0;
  text-align: left;
}
