/*@import url("css/reset.css");*/
@import url("css/animations.css");
@import url("css/text.css");


.tab {
  padding-left: 0.75em;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.dict {
  padding: 15px;
  width: 70vw;
  max-width: 842px;
}

.main-content {
  width: 70vw;
  height: 85vh;
}
